<div class="d-flex justify-content-between">
    <div
      class="sidebar bg-light-gray d-flex flex-column align-items-center vh-100"
    >
      <div>
        <div
          class="mt-4"
          *ngFor="let item of items | async"
          (click)="showCollection(item['collection'])"
        >
          <div
            class="custom-hover rounded text-light pointer text-center px-4 py-1"
          >
            {{ item["collection"] }}
          </div>
        </div>
      </div>
      <form class="sidebar_form mt-4" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
          <input
            type="text"
            class="form-control"
            placeholder="+ New List"
            id="item"
            required
            [(ngModel)]="itemValue"
            name="item"
          />
          <button type="submit" class="btn text-white bg-orange custom-hover">
            +
          </button>
        </div>
      </form>
    </div>
    <div class="flex-grow-1 p-4 border border-secondary">
      <div class="text-white d-flex gap-4 align-items-center">
        <div>
          <p class="fs-4">{{this.today.format("MMM").toUpperCase()}}</p>
          <p class="fs-4">{{this.today.format("DD")}}</p>
        </div>
        <div>
          <p class="fs-3">Good Afternoon</p>
          <div *ngIf="user ; else anonymous">
            <p class="fs-3">Here's the list that you needed</p>
          </div>
          <ng-template #anonymous>
            <p class="fs-3">Please Log in to add a task</p>
          </ng-template>
        </div>
      </div>
      <div class="container"  *ngIf="tasks">
        <form (ngSubmit)="addTask()">
          <div class="form-group">
            <input
              type="text"
              class="todo-form form-control mb-2 p-4 bg-light-gray"
              placeholder="Add Todo..."
              id="item"
              required
              [(ngModel)]="taskValue"
              name="item"
            />
          </div>
  
          <!-- <div class="btn-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div> -->
        </form>
        
        <div *ngFor="let task of tasks ">
          <div class="text-light bg-light-gray mb-2 p-4 d-flex justify-content-between">
            <!-- adding checked value attribute conditionally -->
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="task['crossed']" (click)="updateTask(!task['crossed'],task['ref'])">
            <p>{{ task["task"]}}</p>
            <p>{{task["date"].toDate().toDateString() | date: 'dd-MM-yyyy'}}</p>
          </div>
        </div>
      </div>
      <!-- <div>Tasks</div> -->
      <!-- <div class ="calendar-wrapper">
       <calendar>
       </calendar>
        </div> -->
    </div>
  </div>
  