.bg-gray {
    background-color: #202020;
  }
  
  .bg-light-gray {
    background-color: #252525;
  }
  
  .bg-orange {
    background-color: #f05837;
  }
  
  .custom-hover:hover {
    cursor: pointer;
    background-color: #f05837;
    transition: all 0.5s;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #202020; }
